<div>
  <h1>Password recovery</h1>
  <p>To finish password recovery please follow the link below:
    <a href='https://somesite.com/password-recovery?recoveryCode={{recoveryCode}}'>recovery password</a>
  </p>
  <div style="color:#b3b3b1;font-size:16px;margin-top:50px;margin-right:0;margin-bottom:50px;margin-left:0">
    If you did not make this request, you can safely ignore this email.
  </div>
</div>