<div>
  <p style="margin-top:0;margin-bottom:20px;font-family:Georgia,serif;font-size:28px">
    Your login link
  </p>
  <p style="margin-top:0;margin-bottom:20px">
    Click the link below to confirm your email and finish creating your SomeSite account.
    <br>
    This link will expire in 2 hours and can only be used once.
  </p>
  <p style="margin-top:0;margin-bottom:20px">
    <a href='https://somesite.com/confirm-email?code={{confirmationCode}}'
       style="color:#ffffff;text-decoration:none;display:inline-block;height:38px;line-height:38px;padding-top:0;padding-right:24px;padding-bottom:0;padding-left:24px;border:0;outline:0;background-color:#1a8917;font-size:14px;font-style:normal;font-weight:400;text-align:center;white-space:nowrap;border-radius:99em;margin-top:4px;margin-bottom:4px"
       target="_blank">
      Create your account
    </a>
  </p>
  <p style="margin-top:0;margin-bottom:20px">
    If the button above doesn’t work, paste this link into your web browser:
    <br>
    <a href='https://somesite.com/confirm-email?code={{confirmationCode}}'
       style="color:#333332;text-decoration:underline" target="_blank">
      https://somesite.com/confirm-email?code={{confirmationCode}}
    </a>
  </p>
  <div style="color:#b3b3b1;font-size:16px;margin-top:50px;margin-right:0;margin-bottom:50px;margin-left:0">
    If you did not make this request, you can safely ignore this email.
  </div>
</div>